@import '/src/app.scss';

#skillSection {
  padding-top: 120px;
    display: flex;
    flex-direction: column;
    h2 {
      font-family: $subheader-font-family;
      font-size: 2em;
      margin-bottom: 20px;
    }
    .horizantal-line {
      margin: 20px 0;
    }
    .skills-container {
      max-width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
      justify-content: space-between;
      align-items: center;
      gap: 40px;

      .skills-card {
        border-radius: 5px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        .skills-card-img {
          font-size: 5em;
          height: 100px;
          border-radius: 5px;
          object-fit: contain;
        }
        .skills-card-name {
          font-family: $body-text-font-family;
          font-weight: 200;
          font-size: 1.5em;
        }
      }
    }
  }
  
  .skill-character-img {
    position: relative;
    left: -50px;
    width: 300px;
    height: 300px;
    background-image: url('/img/skills-character.webp');
    background-position: center;
    background-size: cover;
  }


@media (max-width: 1100px) {

  .skill-character-img {
    position: relative;
    left: -50px;
    width: 200px;
    height: 200px;
    background-image: url('/img/skills-character.webp');
    background-position: center;
    background-size: cover;
  }

}
