@keyframes floatInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0); 
}
}

#homeSection {
  display: flex; 
  flex-direction: row; 
  height: 100vh; 
  background-color: #7b3b3be1; 
  align-items: center;
  width: 100vw;
  justify-content: center;
  
    .info-home-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 5rem;

        h1 {
          font-size: 10em;
          color: #ffffffde;
          text-align: center;
        }
        h3 {
          font-size: 1.8em;
          margin-bottom: 20px;
          color: #ffffff;
          text-align: center;
        }
        p {
          font-size: 1em;
          line-height: 25px;

          color: #ffffff;
          text-align: center;
        }
        h1, h3, p {
          animation-name: floatInUp;
          animation-duration: 1s;
          animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
          animation-fill-mode: forwards;
          opacity: 0;
        }
        .top-projects-button {
          align-self: center; 
          padding: 1rem 2rem;
          font-size: 1.1rem;
          background-color: #7b3b3bc2;
          color: #ffffff;
      
          border: none;
          border-radius: 8px;
          cursor: pointer;
          margin-top: 3rem; 

          animation-name: floatInUp;
          animation-duration: 1s;
          animation-timing-function:cubic-bezier(0.25, 1, 0.5, 1);
          animation-fill-mode: forwards;
          transition:
          background-color 0.3s ease-in-out,
          color 0.3s ease-in-out;
      

  }

          .top-projects-button:hover {
              background-color: #ffffff67;
              color: #7b3b3b;
          }
    
  }

  .left-home-img, .right-home-img {
    width: 40%;
    min-height:70vh;
  
    background-repeat: no-repeat;
    opacity: 30%;
    background-position: center;
    background-size: contain;
  }
  .left-home-img {
    background-image: url('/img/left-home-img.webp');
  }
  .right-home-img {
    background-image: url('/img/right-home-img.webp');
  }  
 
}



@media (max-width: 1100px) {
  #homeSection {
    gap: 2rem; 
    min-height: auto; 

    .info-home-container {
      width: 90%; 
      height: 450px;
      h1 {
        font-size: 7em ;
      }
      h3 {
        font-size: 1.6em;
      }
      p {
        font-size: 0.9em;
        line-height: 22px;
      }
    }
    

  }
}
@media (max-width: 900px) {
  #homeSection {
    background-image: url(../../../../img/pattern-background.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
  }
  .left-home-img, .right-home-img {
      display:none;
    }
}

@media (max-width: 800px) {
  #homeSection {
    flex-direction: column; 
    align-items: center; 
    gap: 1.5rem;
    padding: 3rem;
   

    .info-home-container {
      width: 80%; 
      height: 300px;
      margin-top: 5rem;
      h1 {
        font-size: 5em;
      }
      h3 {
        font-size: 1.4em;
      }
      p {
        font-size: 0.8em;
      }
    }
    .left-home-img, .right-home-img {
      display:none;
    }
  }
}

@media (max-width: 400px) {
  #homeSection {
    flex-direction: column; 
    align-items: center; 
    gap: 1.5rem;
    padding: 3rem;

    .info-home-container {
      width: 100%; 
      height: 300px;
      margin-top: 5rem;
       h1 {
        font-size: 4em;
      }
      h3 {
        font-size: 1em;
      }
      p {
        font-size: 0.6em;
        line-height: 15px;
      }
    }

  }

}