@import '/src/app.scss';

#contactSection {
    padding: 120px 0 0 70px;

    .left-contact-container {
      width: 50%;
      display: flex;
      flex-direction: column;
      h6 {
        font-family: $body-text-font-family;
        font-size: 1.2em;
        font-weight: 200;
        margin-bottom: 20px;
      }
      .sectioned-contact-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        .contact-container {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 4.2em;
          font-family: $body-text-font-family;
          letter-spacing: 2px;

          h5 {
            font-size: 0.3em;
            font-weight: 100;
          }
          .contact-title {
            text-transform: uppercase;
            font-weight: 200;
          }
          
        }
      
        .contact-social-container {
          display: flex;
          flex-direction: column;
          gap: 10px;
          font-size: 4em;
          font-family: $body-text-font-family;
          letter-spacing: 2px;
          h4 {
            font-size: 0.5em;
            font-family: $subheader-font-family;
          }
          .social-container {
            display: flex;
            gap: 50px;
            .social-contact-container {
              display: flex;
              flex-direction: column;
              align-items: center;
              margin: 20px 20px 50px 0;
              gap: 10px;
              padding: 15px;
              border-radius: 10px;
              font-family: $body-text-font-family;
              background-color: #f679922f;
              box-shadow:  6px 6px 12px #ecdfdf,
              -6px -6px 12px #f7f7f7;
              z-index: 20;
              text-decoration: none;
              color: $primary-color;
              backdrop-filter: blur(10px);
              h5 {
                font-size: 0.3em;
                font-weight: 100;
              }
              .social-defintion {
                font-size: 0.8rem;
              }
            }
            .social-contact-container:hover {
              opacity: 80%;
              background-color: $accent-color;
              box-shadow: inset 8px 8px 16px $accent-color,
              inset -8px -8px 16px $accent-color-hover;
              color: $secondary-color;
              cursor: pointer;
              backdrop-filter: blur(10px);
            }
          }
        }
        .logo-contact {
          display: flex;
          gap: 20px;
          .logo-img-contact {
            width: 30%;
            height: 200px;
            background-image: url('/img/art-logo.png');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            margin-bottom: 50px;
          }
          h4 {
            font-family: $body-text-font-family;
            font-size: 2em;
            font-weight: 200;
            color: $accent-color;
          }
        }
      }
    }
    .right-contact-container {
      position: relative;
      width: 50%;
      .contact-character-img {
        position: absolute;
        right: 0;
        top: 20px;
        width: 700px;
        height: 700px;
        background-image: url('/img/contact-character.webp');
        background-position: center;
        background-size: cover;
      }
    }
    
    
  }
  
  @media (max-width: 1400px) {
    #contactSection {
      flex-direction: row!important;
    }
    .contact-character-img {
      top: 0!important;
      width: 400px!important;
      height: 400px!important;
    }
    .left-contact-container {
      width: 100%;
    }

  
  }
  
  @media (max-width: 1100px) {
    .contact-character-img {
      top: 0!important;
      width: 300px!important;
      height: 300px!important;
    }


  
  }
  

  @media (max-width: 900px) {

    #contactSection {
      padding: 3rem !important;
    }

    .contact-character-img {
      top: 0!important;
      right: -3rem!important;
      width: 300px!important;
      height: 300px!important;
    }
    
    .social-container {
      flex-direction: column;
      width: 100%;
    }
    
  
  }
  
  @media (max-width: 700px) {

    .right-contact-container {
      display: none;
    }

    .left-contact-container {
      width: 100%!important;
    }
    .logo-contact {
      margin-top: 2rem;
    }
    .contact-container {
      flex-direction: column;
      align-items: flex-start!important;
      margin-bottom: 2rem;
    }
  }
  