@import '/src/app.scss';

#singleProjectSection {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;
}

.arrow {
    margin-top: 120px;
    font-size: 1.5em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 15px;
    border-radius: 10px;
    font-family: $body-text-font-family;
    text-transform: uppercase;
    background-color: #f679922f;
    box-shadow:  6px 6px 12px #ecdfdf,
    -6px -6px 12px #f7f7f7;
}
.disclaimer {
    font-size: 0.8rem;
    opacity: 70%;
}
.arrow:hover {
    opacity: 80%;
    background-color: $accent-color;
    box-shadow: inset 8px 8px 16px $accent-color,
    inset -8px -8px 16px $accent-color-hover;
    color: $secondary-color;
    cursor: pointer;
}
.single-project-container {
    margin-top: 20px;
    display: flex;
    gap: 2em;
    position: relative;
    align-items: stretch;
     
    .img-grid {
            width: 50%;
            max-height: 100%;
            display: grid;
            // grid-template-columns: repeat(3, 1fr);
            // grid-template-rows: repeat(3, 1fr);
            grid-template-columns: repeat(3, 1fr); /* 3 columns layout */
        grid-template-rows: auto auto auto;
            grid-column-gap: 10px;
            grid-row-gap: 10px;
            .grid-img-1 {
                grid-area: 1 / 1 / 2 / 3;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: 5px;
            }
            .grid-img-2 {
                grid-area: 1 / 3 / 2 / 4;
                background-color: pink;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: 5px;
            }
            .grid-img-3 {
                grid-area: 2 / 1 / 4 / 2;
                background-color: pink;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: 5px;
            }
            .grid-img-4 {
                grid-area: 2 / 2 / 3 / 4;
                background-color: pink;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: 5px;
            }
            .grid-img-5 {
                grid-area: 3 / 2 / 4 / 3;
                background-color: pink;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: 5px;
            }
            .grid-img-6 {
                grid-area: 3 / 3 / 4 / 4;
                background-color: pink;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: 5px;
            }
        }
    .right-project-container {
        width: 50%;
        h3 {
            margin-bottom: 10px;
        }
        h2 {
            font-family: $header-font-family;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 2em;
            margin-bottom: 10px;
        }
        h4 {
            font-family: $body-text-font-family;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-bottom: 10px;
            font-weight: 200;
        }
        .contribution {
            margin-bottom: 5px;
            font-family: $body-text-font-family;
        }
        .description {
            margin-bottom: 10px;
        }
        .view-text {
            font-family: $subheader-font-family;
            font-size: 2em;
            margin-top: 20px;
        }
        .project-icon-container {
            display: flex;
            gap: 20px;

            .project-icon {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: 3em;
                margin: 0px 20px 20px 0px;
                gap: 20px;
                padding: 15px;
                border-radius: 10px;
                text-transform: uppercase;
                background-color: #f679922f;
                box-shadow:  6px 6px 12px #ecdfdf,
                -6px -6px 12px #f7f7f7;
                z-index: 20;
                color: $primary-color;
                text-decoration: none;
            }
            .project-icon:hover {
                opacity: 80%;
              background-color: $accent-color;
              box-shadow: inset 8px 8px 16px $accent-color,
              inset -8px -8px 16px $accent-color-hover;
              color: $secondary-color;
              cursor: pointer;
            }
            .project-icon p {
                font-size: 1rem;

            }
        }
        .single-project-character-img-container {
            width: 300px;
            height: 300px;
            background-image: url('/public/img/singleprpject-character.webp');
            background-position: center;
            background-size: cover;
            position: absolute;
            right: 20px;
            border-bottom: 5px solid rgb(230, 131, 147);
            border-radius: 2px;
        }
        
    }
    
}

@media (max-width: 1100px) {
   .single-project-container {
    flex-direction: column-reverse;
   }

   .img-grid{
        width: 100%!important;
   }

   .right-project-container {
    width: 100%!important;
   }

   .project-icon-container  {
    width: 100%!important;
   }

   .single-project-character-img-container {
    width: 200px!important;
    height: 200px!important;
    bottom: 0;
    
    }

}
  

@media (max-width: 800px) {
    .single-project-container {
     flex-direction: column-reverse;
    }
 
    .img-grid{
         width: 100%!important;
    }
 
    .right-project-container {
     width: 100%!important;
    }
 

 
    .single-project-character-img-container {
        width: 100px!important;
        height: 100px!important;
        bottom: 0;
     
     }

     #singleProjectSection {
        padding: 2rem!important;
     }
 
 }

 @media (max-width: 700px) {

    
    .single-project-character-img-container {
        display: none;
     
     }

     #singleProjectSection {
        padding: 2rem!important;
     }
 
 }

 @media (max-width: 600px) {

    
    .project-icon-container {
        flex-direction: column;

    }
 
 }