$primary-color: #000000;
$secondary-color: #ffffff;
$accent-color: #7d404e;
$accent-color-hover: #fe7d96;
$header-font-family: 'Nanum Brush Script', cursive;
$subheader-font-family: 'Caveat Brush', cursive;
$body-text-font-family: 'Arial';