$primary-color: #000000;
$secondary-color: #ffffff;
$accent-color: #949fde;
$accent-color-hover: #381f6e93;
$header-font-family: 'Nanum Brush Script', cursive;
$subheader-font-family: 'Caveat Brush', cursive;
$body-text-font-family: 'Arial';