/* Proojects Section Start */
@import '/src/app.scss';

.top-project-container {
  display: flex;
  flex-direction: column;
  gap: 0 0 20px 0;
  padding-top: 120px;

  .top-project-filter-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    .left-top-project-filter-container {
      display: flex;
      flex-direction: column;
      width: 70%;

      .bottom-project-filter-container {
        display: flex;
        align-items: center;
        padding-top: 20px;
        gap: 3rem;

        .select-filter-container {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          label {
            font-family: $subheader-font-family;
            font-size: 1.5em;
            letter-spacing: 1px;
          }
          select {
            padding: 12px;
            font-size: 1rem;
            font-family: $body-text-font-family;
            border: 1px solid #ecdfdf7d ;
            background-color: #ecdfdf7d;
            border-radius: 10px;
    
            box-shadow:  inset 6px 6px 12px #ecdfdf,
            inset -6px -6px 12px #f7f7f7;
          }
        }

        .clear-button {
          padding: 15px;
          border-radius: 10px;
          font-family: $body-text-font-family;
          text-transform: uppercase;
          background-color: #f679922f;
          box-shadow:  6px 6px 12px #ecdfdf,
            -6px -6px 12px #f7f7f7;

        }

        .clear-button:hover {
          opacity: 80%;
          background-color: $accent-color;
          box-shadow: inset 8px 8px 16px $accent-color,
          inset -8px -8px 16px $accent-color-hover;
          color: $secondary-color;
        }
      
      }
    }
    
    .project-character-img {
      width: 150px;
      height: 150px;
      background-image: url('/img/projects-character.webp');
      background-position: center;
      background-size: cover;

  
    }
    
  }

}
  
#projectDisplay {
  max-width: 100%;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 35px 35px;

  .project-card {
    border-radius: 5px;
    position: relative;
    .project-card-img {
      width: 100%;
      border-radius: 5px;
      height: auto;
      object-fit: cover;
      object-position: center;
      background-color: $secondary-color;
      transition: ease 0.5s;
    }
    .project-card-img-details {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;   
      top: 0;               
      left: 0;              
      width: 100%;          
      height: 100%;         
      background-color: #7d404eb0;
      border-radius: 5px;
      transition: ease 0.5s;
      h2 {
        font-family: $subheader-font-family;
        font-size: 1.8em;
        letter-spacing: 2px;
        color: $secondary-color;
        margin-bottom: 20px;
        text-align: center;
      }
      .see-more-button {
        padding: 15px;
        text-transform: uppercase;
          background-color: #9f79f62f;
          box-shadow:  6px 6px 12px #ecdfdf,
            -6px -6px 12px #f7f7f7;
            border-radius: 10px;
            color: $secondary-color;
      }
      .see-more-button:hover {
        opacity: 80%;
          background-color: $accent-color;
          box-shadow: inset 8px 8px 16px $accent-color,
          inset -8px -8px 16px $accent-color-hover;
          color: $secondary-color;
      }
      
    }
  }
  .project-card:hover .project-card-img{
    object-position: 0%;
    background-color: $secondary-color;
    box-shadow:  13px 13px 23px #78a1f426,
    -13px -13px 23px #828fff33;
    scale: 1.1;
    transition: ease 0.5s;
  }
  
  .project-card:hover .project-card-img-details {
    display: flex;
    scale: 1.1;
    transition: ease 0.5s;
    cursor: pointer;
  }

}



@media (max-width: 900px) {

  #projectDisplay {
    padding: 0;
  }

  .top-project-filter-container {
    position: relative;
  }
    
  .project-character-img {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .bottom-project-filter-container {
    flex-direction: column;
    align-items: flex-start !important;
    gap: 2rem !important;
  }

  .project-card {
    position: relative;
  }

  .project-card .project-card-img {
    object-position: 0%;
    background-color: $secondary-color;
    box-shadow: none !important;
    scale: none;
    transition: none !important;
  }

  /* Always visible, override hover styles */
  .project-card .project-card-img-details {
    display: flex !important;
    cursor: auto;
    transition: none !important;
  }

  /* Explicitly disable hover styles */
  .project-card:hover .project-card-img {
    object-position: 0%;
    background-color: $secondary-color;
    box-shadow: none !important;
    scale: none !important;
    transition: none !important;
  }

  .project-card:hover .project-card-img-details {
    display: flex !important;
    scale: none !important;
    transition: none !important;
    cursor: auto;
  }
}

@media (max-width: 400px) {
  .project-character-img {
  display: none;
  }

  #projectSection {
    padding: 2.5rem!important;
  }

}
  
